# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Stale
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: false
on:
  workflow_dispatch:
  pull_request:
    paths:
      - .github/workflows/stale.yml
  schedule:
    - cron: 0 0 * * *

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write

    steps:
      - name: Close stale issues and PRs
        uses: actions/stale@28ca1036281a5e5922ead5184a1bbf96e5fc984e # v9.0.0
        with:
          debug-only: ${{ github.event_name == 'pull_request' }}
          exempt-issue-labels: renovate
          exempt-pr-labels: renovate,dependencies,WIP
          stale-issue-label: stale
          stale-pr-label: stale
          delete-branch: true
          days-before-stale: 3
          days-before-close: 3
          stale-pr-message: >
            This PR has been automatically marked as stale because it has been open for 3 days with no activity. Add a comment or remove stale label, otherwise this PR be closed in 3 days.
          close-pr-message: >
            This PR was closed because it has been stalled for 6 days with no activity. You can reopen it by clicking on `Reopen pull request`.
          stale-issue-message: >
            This issue has been automatically marked as stale because it has been open for 3 days with no activity. Add a comment or remove stale label, otherwise this issue be closed in 3 days.
          close-issue-message: >
            This issue was closed because it has been stalled for 6 days with no activity. You can reopen it by clicking on `Reopen issue`.
      - name: Delete stale branches
        uses: fpicalausa/remove-stale-branches@8d7c410eb145f6f2daf40f2f7a8a249515a40f18 # v2.1.0
        with:
          dry-run: ${{ github.event_name == 'pull_request' }}
          days-before-branch-stale: 14
          days-before-branch-delete: 4
          operations-per-run: 100
